<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <setting name="lazyLoadingEnabled" value="true"/>
        <!--        <setting name="aggressiveLazyLoading" value="true"/> &lt;!&ndash;调用任意方法触发懒加载&ndash;&gt;-->
        <!--        <setting name="returnInstanceForEmptyRow" value="true"/>--><!--是否允许返回空行-->
        <setting name="configurationFactory" value="org.coderead.mybatis.LazyTest$ConfigurationFactory"/>
    </settings>

    <typeAliases>
        <package name="org.coderead.mybatis.bean"/>
    </typeAliases>
    <plugins>
        <plugin interceptor="org.coderead.mybatis.plugin.PageInterceptor"/>
        <plugin interceptor="org.coderead.mybatis.plugin.MonitorInterceptor"></plugin>
    </plugins>
    <environments default="dev">
        <environment id="dev">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql://192.168.31.192:3306/ymydw"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
            </dataSource>
        </environment>
    </environments>

    <databaseIdProvider type="org.apache.ibatis.mapping.VendorDatabaseIdProvider">
        <property name="MySQL" value="mysql"/>
        <property name="Oracle" value="oracle"/>
    </databaseIdProvider>
    <mappers>
        <package name="org.coderead.mybatis"/>
    </mappers>
</configuration>